<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      KalApps - Find the best restaurants only on the best websites.
    </title>
  </head>
  <body>
    <a href="#content" class="skip_link">Skip to content?</a>

    <header>
      <nav class="wrapper_container">
        <a class="nav_brand" href="">
          <h1>Kal<b>Apps</b></h1>
        </a>

        <div id="menu" class="nav_menu" data-target=".nav_list">
          <button class="touch__target" aria-label="Open navigation menu">
            ☰
          </button>
        </div>

        <ul class="nav_list">
          <li class="nav_list__item"><a href="">Home</a></li>
          <li class="nav_list__item"><a href="#">Favorite</a></li>
          <li class="nav_list__item">
            <a target="_blank" href="https://github.com/nyancodeid">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
      <section class="hero">
        <div class="hero_inner">
          <h2 class="hero_title">KalApps</h2>
          <p class="hero_subtitle">
            Find <b class="primary_underline">restaurants</b> near your location
            and anywhere in the world.
          </p>
        </div>

        <section class="search_widget__wrapper">
          <div class="wrapper_container">
            <form action="" class="search_widget__inner">
              <input
                name="search"
                class="search_widget__input"
                type="text"
                placeholder="Find restaurant by name or city"
              />

              <button
                type="button"
                aria-label="Clear Search"
                class="search_widget__clear touch__target"
              >
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path
                    fill="#ffffff"
                    d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                  />
                </svg>
              </button>

              <button
                type="submit"
                aria-label="Search"
                class="search_widget__action touch__target"
              >
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path
                    fill="#ffffff"
                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"
                  />
                </svg>
              </button>
            </form>
          </div>
        </section>
      </section>

      <section class="restaurant">
        <div class="wrapper_container">
          <div class="restaurant_header">
            <h2>Explore Restaurant</h2>
            <p>Find the best restaurants only on the best websites.</p>
          </div>

          <div class="restaurant_contents">
            <p class="restaurant_count">Menampilkan 20 restoran</p>
            <div class="restaurant_lists"></div>
            <div class="restaurant__empty_result">
              <span>(&gt;_&lt;)</span>
              <span>Can't find any restaurants.</span>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonial">
        <div class="testimonial_header">
          <h2>What Our Customer Say</h2>
          <p>What do they say about us. We keep trying to do the best.</p>
        </div>
        <div class="testimonial_content">
          <article>
            <q
              >With this website, I know where the restaurant with the best food
              is in my city.</q
            >
            <span class="testimonial_author">- John Doe</span>
          </article>

          <article>
            <q
              >Thanks to KalApps, we don't have to bother to decide which
              restaurant we should visit on the weekends.</q
            >
            <span class="testimonial_author">- Temannya John Doe</span>
          </article>

          <article>
            <q
              >Wow, how easy it is to use this app. With the search feature
              everything is so easy.</q
            >
            <span class="testimonial_author">- Saudaranya John Doe</span>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <section class="footer_content">
        <div class="wrapper_container">
          <div class="footer_brand">
            <h2>Kal<b>Apps</b></h2>

            <div class="footer_download">
              <a href="#">
                <img
                  src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/783bb4a82e5be29e.svg"
                  alt="Download on the App Store"
                />
              </a>
              <a href="#">
                <img
                  src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/163bdc9b0f1e7c9e.png"
                  alt="Get it on Google Play Store"
                />
              </a>
            </div>
          </div>
          <div class="footer_navigation">
            <ul>
              <li><a href="#">Get Help</a></li>
              <li><a href="#">Buy gift cards</a></li>
              <li><a href="#">Add your restaurant</a></li>
              <li><a href="#">Promotions</a></li>
            </ul>
          </div>
          <div class="footer_navigation">
            <ul>
              <li><a href="#">Restaurant near me</a></li>
              <li><a href="#">View all cities</a></li>
              <li><a href="#">View all countries</a></li>
              <li><a href="#">About KalApps</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section class="footer_note">
        <span>Copyright &copy; 2022 - KalApps - Ryan Aunur Rassyid</span>
      </section>
    </footer>
  </body>
</html>
