<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Find the best restaurants only on the best websites.">
    <meta name="keywords" content="restaurant,coffe,tea,shop">
    <meta name="author" content="Ryan Aunur Rassyid">
    <title>
      KalApps
    </title>
  </head>
  <body>
    <button type="button" id="skip-link">Skip to content?</button>

    <header>
      <nav class="wrapper_container">
        <a class="nav_brand" href="/">
          <h1>Kal<b>Apps</b></h1>
        </a>

        <div class="nav_menu">
          <button id="nav-trigger" class="touch__target" aria-label="Open navigation menu">
            ☰
          </button>
        </div>

        <ul id="nav-drawer" class="nav_list">
          <li class="nav_list__item"><a href="">Home</a></li>
          <li class="nav_list__item"><a href="/#/favorite">Favorite</a></li>
          <li class="nav_list__item">
            <a target="_blank" href="https://github.com/nyancodeid">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
      <section class="hero">
        <picture class="hero_image">
          <source media="(max-width: 480px)" type="image/webp" srcset="images/heros/hero-w-480.webp">
          <source media="(max-width: 480px)" type="image/jpeg" srcset="images/heros/hero-w-480.jpg">
          <source media="(max-width: 720px)" type="image/webp" srcset="images/heros/hero-w-720.webp">
          <source media="(max-width: 720px)" type="image/jpeg" srcset="images/heros/hero-w-720.jpg">

          <img src='images/heros/hero-w-1350.jpg' alt="KalApps Hero Image">
        </picture>

        <div class="hero_inner">
          <h2 class="hero_title">KalApps</h2>
          <p class="hero_subtitle">
            Find <b class="primary_underline">restaurants</b> near your location
            and anywhere in the world.
          </p>
        </div>

        <section class="search_widget__wrapper">
          <div class="wrapper_container">
            <form action="" class="search_widget__inner">
              <input
                name="search"
                class="search_widget__input"
                type="text"
                placeholder="Find restaurant by name or city"
              />

              <button
                type="button"
                aria-label="Clear Search"
                class="search_widget__clear touch__target"
              >
                <iconify-icon icon="heroicons-solid:x" class="icon"></iconify-icon>
              </button>

              <button
                type="submit"
                aria-label="Search"
                class="search_widget__action touch__target"
              >
                <iconify-icon icon="heroicons-solid:search" class="icon"></iconify-icon>
              </button>
            </form>
          </div>
        </section>
      </section>

      <section id="main-content"></section>
    </main>

    <footer>
      <footer-section></footer-section>
    </footer>
  </body>
</html>
